body{
  background-color: #f5f8fa;
  margin: 0px;
}
#wrapper{
    width:960px;
    margin:0 auto;
}

#header{
  width:960px;
  height:268px;
  background: url("bg.jpg") center center no-repeat;
  background-size: cover;
}

#avatar{
  height: 100px;
  width: 100px;
  margin: 0px auto;
  padding-top: 45px;
  margin-bottom: 25px;
}

#avatar img{
  width: 100%;
  border-radius: 100%;
}

#header h3{
  color: white;
  text-align: center;
}

#header #quote{
  opacity: 0.7;
}


#content {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  // padding-top: 24px;
  position: relative;
  width: 80%;
  min-height: 100px;
  width: 720px;
  background-color: white;
  margin: 25px auto;
}

.tweet{
    padding: 12px 24px 12px;
    box-shadow: 0px 1px 0px #E4DDDD;
}
.tweet:first-child{
    padding-top: 0px;
}
.tweet:last-child{
    padding-bottom: 24px;
    box-shadow: 0px 0px 0px;
}

.tweet img{
  width: 100%;
  margin-top: 15px;
}

.tweet video{
  margin-top: 15px;
}

#tweet-container{
  padding-top: 12px;
}

#tweet-input{
  // height: 58px;
  padding: 12px 24px 12px;
  box-shadow: 0px 1px 0px #E4DDDD;
}

#tweet-input .small-avatar{
  width: 32px;
  position: absolute;
}

#tweet-input .small-avatar img{
  border-radius: 4px;
}

#tweet-textarea{
    width: 600px;
    margin-left: 46px;
    padding-top: 0px;
    padding: 15px;
    height: 1.5em;
    border: none;
    resize:none;
    border-left: 2px solid #2196F3;
    padding-bottom: 7px;
    padding-top: 11px;
}

#tweet-textarea:focus{
  height: 5.5em;
}