<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{config.SITENAME}}</title>
        <meta name="description" content="ezlog3">
        <link rel="stylesheet" href="static/main.css">
    </head>




    <body>
        <div id="wrapper">
            <div id="header">
                <div id="avatar">
                <img src="{{user.avatar}}" />
                </div>
                <h3>@{{user.username}}</h3>
                <h3><small>{{user.quote}}</small></h3>

            </div>

        </div>

        <script src="static/main.js"></script>
    </body>
</html>